<section id="section_about" class="wrapper">
  <div id="DIV_2">
    <div id="DIV_3">
      <h2 id="H2_4">
        About me
      </h2><span id="SPAN_5"></span>
      <p id="P_6">
         <span id="SPAN_7">During all years of my experience I have been working as a software developer on a wide variety of projects . I can say I am really enjoying my work and I am sure I will do it many years ahead. I have found a thrill doing that and I think that is the most important.</span>
      </p>
      <p id="P_8">
        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque.
      </p>
    </div>
    <!-- end .section-title -->

    <div id="DIV_9">
      <div id="DIV_10">
         <img src="images/airan.jpg" alt="" id="me" />
      </div>
      <!-- end .col-md-4 -->

      <div id="DIV_12">
        <div id="about_info">
          <div id="info_title">
            <p id="P_15">
              Birthdate
            </p>
            <p id="P_16">
              Phone
            </p>
            <p id="P_17">
              Email
            </p>
            <p id="P_18">
              website
            </p>
            <p id="P_19">
              Address
            </p>
          </div>
          <!-- end .info-title -->

          <div id="info_details">
            <p id="P_21">
              : 17-12-1981
            </p>
            <p id="P_22">
              : +34606912070
            </p>
            <p id="P_23">
              : airan.luis@gmail.com
            </p>
            <p id="P_24">
              : www.airanluis.com
            </p>
            <p id="P_25">
              : Calle Oñate 9 2-B <br id="BR_26" /> 28020, Madrid
            </p>
          </div>
          <!-- end .info-details -->

          <p id="P_27">
            Airan Luis
          </p> <a href="#" id="A_28"><i id="I_29"></i><span id="SPAN_30">Download Resume</span></a>
        </div>
        <!-- end .about-info -->

      </div>
      <!-- end .col-md-4 -->

      <div id="DIV_31">
        <div id="DIV_32">
          <h4 id="H4_33">
            HOBBIES &amp; INTERESTS
          </h4>
          <div id="DIV_34">
            <ul id="UL_35">
              <li id="LI_36">
                <p id="P_37">
                  <i class="fa fa-gamepad fa-2x"></i><br class="br_hobbies" /><span class="span_hobbies">Games</span>
                </p>
              </li>
              <li id="LI_41">
                <p id="P_42">
                  <i class="fa fa-music fa-2x"></i></i><br class="br_hobbies" /><span id="span_hobbies">Music</span>
                </p>
              </li>
              <li id="LI_46">
                <p id="P_47">
                  <i class="fa fa-plane fa-2x"></i><br class="br_hobbies" /><span id="span_hobbies">Travel</span>
                </p>
              </li>
              <li id="LI_51">
                <p id="P_52">
                  <i class="fa fa-futbol-o fa-2x"></i></i><br class="br_hobbies" /><span id="span_hobbies">Soccer</span>
                </p>
              </li>
              <li id="LI_56">
                <p id="P_57">
                  <i class="fa fa-video-camera fa-2x"></i><br class="br_hobbies" /><span id="span_hobbies">Cinema</span>
                </p>
              </li>
              <li id="LI_56">
                <p id="P_57">
                  <i class="fa fa-sun-o fa-2x"></i><br class="br_hobbies" /><span id="span_hobbies">Beach</span>
                </p>
              </li>
            </ul>
          </div>
          <!-- end .about-extra-icon -->

        </div>
        <!-- end .about-extra -->

      </div>
      <!-- end .col-md-8 -->

    </div>
    <!-- end .col-md-row -->
 <!--div class="row">
    <div>
       <a href="#">Small</a><br /><br /> <a href="#">Medium</a><br /><br /> <a href="#">Largest</a>
    </div>
    <div>
       <a href="#">Small</a><br /><br /> <a href="#">Medium</a><br /><br /> <a href="#">Largest</a>
    </div>
  </div>
  <!-- end .container -->

</section>
