<section id="main_overlay">
    <div id="title_container">
        <div id="info_container">
            <div class="main-info">
                <h1 class="title1">Airán Luis Hernández</h1>
                <h2 class="title2">Professional Software Developer<h2>
       </span></p>
        <ul id="social_list">
          <li id="social_1">
            
            <a href="https://github.com/airanluis" class="social_link"><i class="fa fa-github"></i></a>
          </li>
          <li id="social_2">            
            <a href="https://es.linkedin.com/pub/air%C3%A1n-luis-hern%C3%A1ndez/51/752/b31" class="social_link"><i class="fa fa-linkedin"></i></a>
          </li>
          <li id="social_3">           
            <a href="https://twitter.com/airanluis" class="social_link"><i class="fa fa-twitter"></i></a>
          </li>
          <li id="social_4">
            <a href="https://plus.google.com/115298399642278009344/about" class="social_link"><i class="fa fa-google-plus"></i></a>
          </li>
        </ul>
       <h3 class="title3">If you have any doubt, it's because you miss a test!!</h3>
    </div>
</section>
<div id="sticky_nav">
  <div id="main_menu_nav">
    <nav id="main_menu" role="navigation">
        <div id="main_nav">
          <!-- Navigation -->
          <ul id="nav_list">
            <li class="nav_box">
              <a href="about" class="nav_link">About</a>
            </li>
            <li class="nav_box">
              <a href="education" class="nav_link">Education</a>
            </li>            
            <li class="nav_box">
              <a href="experiences" class="nav_link">Experiences</a>
            </li>
            <li class="nav_box">
              <a href="skills" class="nav_link">Skills</a>
            </li>     
            <li class="nav_box">
              <a href="blog" class="nav_link">Blog</a>
            </li>            
            <li class="nav_box">
              <a href="contact" class="nav_link">Contact</a>
            </li>
          </ul>
          <!-- Navigation End -->

        </div>
        <!-- End .collapse -->
    </nav>
    <!-- End #main-menu -->

  </div>
</div>
<ng-include src="'views/about.html'"/>