#main_overlay {
    background-position: 50% -300px;
    box-sizing: border-box;
    color: rgb(126, 135, 143);
    height: 800px;
    width: 100%;
    perspective-origin: 674.5px 450px;
    transform-origin: 674.5px 450px;
    background: rgba(0, 0, 0, 0) url("/images/background1.jpg") no-repeat fixed 50% -300px / cover padding-box border-box;
    border: 0px none rgb(126, 135, 143);
    font: normal normal 300 normal 16px/22.8571434020996px Raleway, Helvetica, Arial, sans-serif;
    outline: rgb(126, 135, 143) none 0px;
}/*#SECTION_1*/

#title_container {
    background-position: 0px 0px;
    box-sizing: border-box;
    color: rgb(126, 135, 143);
    height: 100%;
    min-height: 800px;
    position: relative;
    width: 100%;
    perspective-origin: 674.5px 450px;
    transform-origin: 674.5px 450px;
    background: rgba(53, 60, 79, 0.6) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(126, 135, 143);
    font: normal normal 300 normal 16px/22.8571434020996px Raleway, Helvetica, Arial, sans-serif;
    outline: rgb(126, 135, 143) none 0px;
}/*#DIV_2*/

#info_container {
    box-sizing: border-box;
    color: rgb(126, 135, 143);
    float: left;
    height: 300px;
    min-height: 1px;
    position: relative;
    width: 100%;
    perspective-origin: 565px 233.5px;
    transform-origin: 565px 233.5px;
    border: 0px none rgb(126, 135, 143);
    font: normal normal 300 normal 16px/22.8571434020996px Raleway, Helvetica, Arial, sans-serif;
    outline: rgb(126, 135, 143) none 0px;
    padding: 0px 15px;
}/*#DIV_4*/

.title1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 60px;
    text-align: center;
    width: 100%;
    perspective-origin: 550px 47.5px;
    transform-origin: 550px 47.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 60px/60px Raleway, Helvetica, Arial, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 5px;
}

.title2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 45px;
    text-align: center;
    width: 100%;
    perspective-origin: 550px 19px;
    transform-origin: 550px 19px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 800 normal 80px/80px Raleway, Helvetica, Arial, sans-serif;
    margin: 20px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 5px;
}

.title3 {
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    height: 60px;
    text-align: center;
    width: 100%;
    perspective-origin: 550px 19px;
    transform-origin: 550px 19px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 500 normal 38px/38px Raleway, Helvetica, Arial, sans-serif;
    margin: 40px 0px 10px;
    outline: rgb(204, 204, 204) none 0px;
    padding: 0px 0px 5px;
}



